body{
    background-color: #eceef1;
    margin: 0;
    padding: 0;

}
.logo{
    text-align: center;
    width:20vw;
     height:50hv;
     position: absolute;
     left: 40%;
     margin-bottom: 600px;
    }

#submit{ 
    font-family: sans-serif;
    text-align: right;
    font-size: small;
    margin:15px;
    

    
}
#submit,#submit-1{

}
#submit-1{ 
    position: relative;
    
    margin-right:90px;
    padding-bottom:100px;
    color: #757575;
}
#submit-3{
    height: 7vh;
    width: 9vw;
    background:#0077C5 ;
    color: #fff;
    border: 1px solid #4c4c4c;
    border-radius: 4xp;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: -60px;

}
.images{
    text-align: center;
    padding: 20px;
    margin-top: 80px;

    
    }
,.images.logo-1{
    height:200rem ;
    width: 100vw ;
    margin-left:15px ;
    font-size: large;
}



.content{
    
    text-align: center;
    justify-content: center;
    border:1px #888 solid;
    
    padding-top: 20px;
    margin-left: -160px;
    background-color: #fff;
    border: 1px solid grey;
    position: absolute;
    left: 50%;
    border-radius: 4px;
    padding-right: 10px;
    
    

    

}
.input{

  text-align: start;
  margin: 20px;
  border-color:#007 ;
  box-shadow:0 1px 1px rgb(0 0 0 /8%) inset, 0 0 8%  rgb(82 168 236/60% );
   outline: none;
   
   
} 
 #email{
     padding:5px;
     margin-bottom: 50px;
      border:1px #888 solid;
    box-shadow:0 1px 1px rgb(0 0 0 /8%) inset, 0 0 8%  rgb(82 168 236/60% );
        outline: none;
        border-radius: 4px;
        width: 100%;
        height: 4vh;
}
#tel{
    padding:5px;
     margin-bottom: 50px;
     border:1px #888 solid;
      outline: none;
        border-radius: 4px;
        width: 100%;
        height: 4vh;
}

#password{
    padding:5px;
     margin-bottom: 50px;
     border:1px #888 solid;
      outline: none;
        border-radius: 4px;
        width: 100%;
        height: 4vh;
}

#confirm{
    padding:5px;
     margin-bottom: 50px;
     border:1px #888 solid;
      border-radius: 4px;
      width: 100%;
      height: 4vh;
      outline: rgb(46, 46, 126);
}
.accounts{
    height: 3rem;
    width:100%;
    background-color:#0077C5;
    color: #fff;
    border-radius: 4px;
    font-size: large;
    font-family: sans-serif;
    font-weight: bold;
    border:1px #888 solid;

}
.footer{
    font-style: italic;
    font-family: sans-serif;
    font-size: small;
    color: #757575;
    margin: 5px;
}
footer,.footer-3{
    background-color:#eceef1 ;
   
    
}
.footer-3{
    background-color:#eceef1 ;
    height: 4rem;
    margin-top:60px ;
    padding-top: 20px;
    font-family: sans-serif;
    font-size: x-small;
    margin-top: 20px;
    width: 102.5%;

    
}
#span-1{
    color: #757575;
    font-size:x-large;
    padding-top: 20px;
}
#span-2{
    color: #757575;

    padding-top:80px;


}
.footer-4{
    margin-top: 780px;
    text-align: center;
    color:#757575 ;
    
    font-size: small;
}
#legal{
    padding-left: 5px;
}
#security{
    padding-left: 10px;
}
#privacy{
    padding-left: 20px ;
    margin-top: 10px ;
}
#copy{
    padding-top: 10px;
    margin-top: 20px ;
}
.end-footer{
    background-color:#fff ;
    margin-top: 80px;

    
    padding: 20px;
}
#standard{
    font-size: small;
    margin-bottom:100px;
}